<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kslack" version="3">
  <MenuBar>
    <Menu name="file">
      <Action name="reload"/>
    </Menu>
  </MenuBar>
</gui>
